
<div class="col-lg-4">
    <div class="card">
        <div class="card-header"> 关于我 About </div>
        <div class="card-body text-dark">
            <!-- Your Bio -->
            <p> {{ site.author_bio_zh }}</p>
            <p> {{ site.author_bio_en }}</p>

            {%- include github_follow_button.html -%}
        </div>
    </div>
    <div class="card">
        <div class="card-header">文章分类 Categories </div>
        <div class="card-body text-dark">
            {%- include blog_categories.html -%}
        </div>
    </div>
</div>